/* --- Dark Mode Styles --- */
body.dark-mode {
  background: #18181b;
  color: #f4f4f5;
}

body.dark-mode .header--navigation,
body.dark-mode .right--side--nav,
body.dark-mode .total--sales,
body.dark-mode .total--customers,
body.dark-mode .total--products,
body.dark-mode .total--revenue,
body.dark-mode .dashboard--Revenue,
body.dark-mode .dashboard--TotalIncome,
body.dark-mode .projects,
body.dark-mode .top-products,
body.dark-mode .sales-per-category-chart,
body.dark-mode .sales-per-category,
body.dark-mode .dashboard--Orders,
body.dark-mode .monthly-income,
body.dark-mode .order--details,
body.dark-mode .page-heading,
body.dark-mode .Calendars,
body.dark-mode .modal-content {
  background: #23232a;
  color: #f4f4f5;
}

body.dark-mode .dashboard--Revenue--analytics {
  color: #f4f4f5;
}

body.dark-mode button {
  color: #f4f4f5;
}

body.dark-mode .order--nav,
body.dark-mode .day-label,
body.dark-mode .time-label {
  background: #23232a;
  color: #f4f4f5;
}

body.dark-mode input,
body.dark-mode .product--search--nav,
body.dark-mode .search {
  background: #18181b;
  color: #f4f4f5;
}

body.dark-mode .search input {
  border: 1px none;
}

body.dark-mode .product--search--nav input {
  border: none;
}

body.dark-mode .date {
  background: #23232a;
  color: #f4f4f5;
}

body.dark-mode .team-comp-cont {
  background: #23232a;
  color: #f4f4f5;
}

body.dark-mode .analytics-one-one,
body.dark-mode .analytics-one-two,
body.dark-mode .analytics--two,
body.dark-mode .analytics-one-chart,
body.dark-mode .analytics-two-chart,
body.dark-mode .analytics-three-chart,
body.dark-mode .monthly-income-chart,
body.dark-mode .sales-chart {
  background: #23232a;
  color: #f4f4f5;
}


body.dark-mode .reports-date,
body.dark-mode .reports-one-one,
body.dark-mode .reports-one-two,
body.dark-mode .reports-one-three,
body.dark-mode .reports-one-four,
body.dark-mode .months-earning{
  background: #23232a;
  color: #f4f4f5;
}

body.dark-mode #Templates {
  background: #23232a;
  color: #f4f4f5;
}

body.dark-mode .settings-container,
body.dark-mode #Settings{
  background: #23232a;
  color: #f4f4f5;
}