#Teammates {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
    /* background: #ffffffff; */
}

.add-btn{
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.team-head-add {
  width: 100%;
  height: 50px;
  display: flex;
    align-items: center;
  justify-content: space-between;

  background: #ffffffff;
  border-radius: 10px;
  padding: 10px;

  button{
    width: 100%;
    height: 20px;
    border-radius: 6px;
    background: #4a4ad3;
    color: white;
    border: none;
    cursor: pointer;
  }
}

.teammates-heading-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.team-comp-cont {
  width: 23%;
  height: 150px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-comp-cont:hover {

  background: rgb(74, 74, 211);
  color: #ffffffff;
}

.team-employees {
  width: 100%;
  height: 535px;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  background: white;

}

.heading {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: static;
}

.team {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;

}

.team-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;

}

.team-card{
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
}

.team-card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  background: #f0f0f0;
}

.team-image{
  width: 60px;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card-header{
  width: 100%;
  height: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}

.team-card-details{
  width: 100%;
  height: calc(300px - 120px);
}

.member-email{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eeecec;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;

  p {
    font-size: 14px;
    color: #a09d9d;
  }
}

.member-phone{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eeecec;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;

  p {
    font-size: 14px;
    color: #a09d9d;
  }
}

.member-salary{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eeecec;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;

  p {
    font-size: 14px;
    color: #a09d9d;
  }
}

